{{ define "main" }}
<style>
  body {
      max-width: 50em;
  }
  article#content {
      text-align: justify;
  }
</style>
<section id="main">
<h1 id="title">{{ .Title }}</h1>
<aside id="dateandamount">
  <div>
<section>
<h4 style="display: inline;" id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
<h5 style="display: inline; margin-left: 2em;" id="wordcount"> {{ .WordCount }} Words </h5>
</section>
  </div>
</aside>
<div>
<article id="content">
{{ .Content }}
</article>
</div>
</section>
<aside id="categorization">
<div>
{{ with .Params.topics }}
<ul id="topics">
{{ range . }}
<li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
{{ end }}
</ul>
{{ end }}
{{ with .Params.tags }}
<ul id="tags">
{{ range . }}
<li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
{{ end }}
</ul>
{{ end }}
</div>
</aside>
{{ end }}
